.warna1 {
    background-color: #876445;
}

.warna2 {
    background-color: #CA965C;
}

.warna3 { 
    background-color: #EEC373;
}

.warna4 { 
    background-color: #F4DFBA;
}

.banner {
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../image/banner.png');
    background-size: cover;
    background-position: center;
}

.highlighted-kategori {
    height: 250px;
    border-radius: 10px;
}

.kategori-sepatu {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../image/sepatu1.jpeg');
    background-size: cover;
    background-position: center;
}

.kategori-carrier {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../image/carrier1.jpeg');
    background-size: cover;
    background-position: center;
}

.kategori-tenda {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../image/tenda1.jpeg');
    background-size: cover;
    background-position: center;
}

.no-decoration {
    text-decoration: none;
    color: white;
}

.no-decoration:hover {
    color: #EEC373;
}

.text-harga{
    font-size: 20px;
    color: #CA965C;
}
